@sprite .mainBg {
  gwt-image: "mainBg";
}

  /*
  @sprite .subBg {
    gwt-image: "subBg";
    background-color: #F8F8F8!important;
  }*/

.subBg {
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, #FFF, #EEE);
  background-image: -moz-linear-gradient(top, #FFF, #EEE);
  background-image: -ms-linear-gradient(top, #FFF, #EEE);
  background-image: -o-linear-gradient(top, #FFF, #EEE);
  background-image: linear-gradient(top, #FFF, #EEE);
}

.centered {
  display: block;
  position: absolute;
  top: 20px;
  left: 45%;
  width: 350px;
}

.northBar {
  padding: 0 10px;
  border-bottom: 1px solid #C3C3C3;
  height: 57px;
}

  /* Form styling */
.formTitle {
  color: #4B4A4A;
  text-align: center;
  font-weight: bold;
  text-shadow: #DDF 1px 1px 0;
}

.formParam {
  font-weight: bold;
}

.menuItemBtn {
  color: #4B4A4A;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-shadow: #DDF 1px 1px 0;
  margin: 0;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #BBB;
  border-bottom: 1px solid #A0A0A0;
  border-right: 1px solid #A0A0A0;
  width: 90px;

  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, #FFF, #EEE);
  background-image: -moz-linear-gradient(top, #FFF, #EEE);
  background-image: -ms-linear-gradient(top, #FFF, #EEE);
  background-image: -o-linear-gradient(top, #FFF, #EEE);
  background-image: linear-gradient(top, #FFF, #EEE);
}

.menuItemBtn:active {
  border: 1px inset #ccc;
}

.menuItemBtn:hover {
  border-color: #939393;

  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #DDD));
  background-image: -webkit-linear-gradient(top, #FFF, #DDD);
  background-image: -moz-linear-gradient(top, #FFF, #DDD);
  background-image: -ms-linear-gradient(top, #FFF, #DDD);
  background-image: -o-linear-gradient(top, #FFF, #DDD);
  background-image: linear-gradient(top, #FFF, #DDD);
}

.menuItemBtn[disabled] {
  cursor: default;
  color: #888;
}

.menuItemBtn[disabled]:hover {
  border: 1px outset #ccc;
}

.btmBorder {
  border-bottom: 1px solid #C3C3C3;
}
