@sprite .aud {
  gwt-image: "iCurAud";
}
@sprite .gbp {
  gwt-image: "iCurGbp";
}
@sprite .myr {
  gwt-image: "iCurMyr";
}
@sprite .sgd {
  gwt-image: "iCurSgd";
}
@sprite .usd {
  gwt-image: "iCurUsd";
}
@sprite .eur {
  gwt-image: "iCurEur";
}
@sprite .inr {
  gwt-image: "iCurInr";
}
@sprite .idr {
  gwt-image: "iCurIdr";
}
@sprite .jpy {
  gwt-image: "iCurJpy";
}
@sprite .thb {
  gwt-image: "iCurThb";
}
